<div class="jumbotron center">
<h1>Hellou Penny!</h1> 
<p><%= link_to "Anmelden", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Registrieren", "#", class: "btn btn-primary btn-lg" %></p>
</div>
